# editor configs
.vscode/

# for mongodb configurations
*/mongodb_config.py

# for caches made by python
*/__pycache__/
__pycache__/
# virtualenv files
.venv

# vim files
*~
*.swp
*.swo

# idea
.idea/

# database files
*.db
