<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Bytecoin</title>
</head>
<body>
    <div class="nav-bar">
        <img class="logo" src="logo.png" alt="">
    </div>
    <div class="card purple closed">
        <div class="card-title">주식 게임</div>
    </div>
    <div class="card green closed">
        <div class="card-title">NAVER</div>
        <div class="stock-card">
            <div class="rank">1</div>
            <div class="content">
                <div class="name">삼성전자</div>
                <div class="description">keyword, keyword, keyword</div>
            </div>
            <div class="tail red"></div>
        </div>
        <div class="stock-card">
            <div class="rank">2</div>
            <div class="content">
                <div class="name">라온라온</div>
                <div class="description">keyword, keyword, keyword</div>
            </div>
            <div class="tail blue"></div>
        </div>
    </div>
</body>
</html>