{% extends "./layout.html" %}

{% block body %}
    <div class="nav-bar">
        <img class="logo" src="logo.png" alt="">
    </div>
    <div class="card purple closed stock-game">
        <div class="card-title">주식 게임</div>
        <div class="stock-price-card">
            <div class="meta">
                <div class="name">주식 A</div>
                <div class="price-status up">
                    <img src="icons/arrow_drop_up_24px_outlined.svg" alt="" class="icon">
                    <span>
                        XXX
                    </span>
                </div>
            </div>
            <div class="price-graph">
                <div id="piechart" style="height: 135px; width: calc(100% - 100px);"></div>
            </div>
        </div>
    </div>
    <div class="card green closed stock-list">
        <div class="card-title">NAVER</div>
        {% for stock in stocks %}
        <div class="stock-card">
            <div class="rank">{{ loop.index }}</div>
            <div class="content">
                <div class="name">{{ stock['name'] }}</div>
                <div class="description">{{ stock['price'][0]['price'] }}</div>
            </div>
            <div class="tail red"></div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}