* {
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.nav-bar {
  height: 65px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 8px;
  padding-bottom: 8px;

  img.logo {
    object-fit: cover;
    height: 100%;
  }
}

$side-margin: 28px;

.card {
  margin-left: $side-margin;
  margin-right: $side-margin;
  padding: 14px;
  border-radius: 7px;
  margin-bottom: 20px;

  .card-title {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.092px;
    margin-bottom: 19px;
  }

  &.closed {
    min-height: 100px;
  }
}

@mixin inner-card() {
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 50px;
}

.stock-card {
  @include inner-card();
  min-height: 58px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 10px;

  .rank {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 24px;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .name {
      letter-spacing: 0.092px;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
    }
    .description {
      font-weight: 300;
      font-size: 9px;
      line-height: 13px;
      display: flex;
      align-items: center;
      letter-spacing: 0.092px;
    }
  }

  .tail {
    width: 15px;
    flex-shrink: 0;
  }
}

.stock-price-card {
  @include inner-card();
  padding: 5px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;

  margin-bottom: 7px;

  .meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 75px;

    .name {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 17px;
      /* identical to box height */

      display: flex;
      align-items: center;
      letter-spacing: 0.092px;
    }

    .price-status {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      display: flex;
      align-items: center;
      letter-spacing: 0.092px;

      &.up {
        color: #eb5757;
      }

      &.down {
        color: #2f80ed;
      }
    }
  }

  .price-graph {
  }
}

.purple {
  background-color: #6900d2;
}

.green {
  background-color: #19ce60;
}

.red {
  background-color: #eb5757;
}

.blue {
  background-color: #2f80ed;
}
